h1,.h1{

}
h2,.h2{

}
h3,.h3{
//border: 1px dashed #ccdf1f99;
border-radius: 3px; //$bor-reg;
//@include pad__ver(20px);
font-family: $font-body;
text-align:center;
color: $primary-text-colour;
text-shadow: 1px 1px 1px black;
}
h4,.h4{

}
h5,.h5{

}
h6,.h6{
	text-align:center;
	color: #FF9800;
}
