.table{display:table;

	background: #0b0c0080;
	box-shadow: 0px 0px 5px 2px black;
	border: 1px solid #ccdf1f33;
	width: 100%;

}
.tr{display:table-row;}
.td{display:table-cell;
 padding: 10px 0px;
 font-family: "Futura-co";
 font-size: 25px;
 color: #f7c825;
}
