
// Using [CARDINAL LOCATIONS] to determine [BORDER POSITIONS]

 // Used for border lines 
$N: "top";
$S: "bottom";
$W: "left";
$E: "right";

// Used for border radius
$NW: "top-left";
$NE: "top-right";
$SW: "bottom-left";
$SE: "bottom-right";
